.DS_Store

### Xcode
*.swp
*~.nib

build

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

### Rails
config/database.yml
*~
*.cache
*.log
*.pid
tmp/**/*
.DS\_Store
db/cstore/**
doc/api
doc/app
doc/plugins
coverage/*
db/*.sqlite3
*.tmproj
Capfile
